body{
    margin: 0;
    font-family:'Poppins', sans-serif;
    font-size: 18px;
    color: 22262A;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
/* -----------------container------------------ */
.container{
    width: 100%;
    max-width:1133px;
    margin: 0 auto;
}


/* -----------------header------------------ */

.header{
padding: 21px 0;
}
.header_iner{
display: flex;
justify-content: space-between;


}